*.mp4
*.jpg
*.rar
/1 урок/Lesson_1 (1).ipynb
/1 урок/Lesson_1_script.ipynb
/2 урок/Lesson_2.ipynb
*.png
/2 урок/Lesson2/Lesson_2_script.ipynb
/2 урок/Lesson2/Lesson_2.ipynb
*.pdf
*.txt
/3 урок/.ipynb_checkpoints/Lesson_3_script-checkpoint.ipynb
/3 урок/Lesson_3_script.ipynb
/3 урок/Lesson_3.ipynb
/3 урок/.ipynb_checkpoints/Lesson_3-checkpoint.ipynb
/3 урок/Lesson_3 (1).ipynb
/4 урок/Lesson4/Lesson_4_script.ipynb
/4 урок/Lesson4/Lesson_4.ipynb
/4 урок/decision_tree (пример в функциональном стиле).ipynb
/7 урок/lesson_7/Lesson_7-Copy1.ipynb
/7 урок/lesson_7/Lesson_7.ipynb
/5 урок/lesson_5/Lesson_5.ipynb
/6 урок/lesson_6/Lesson_6.ipynb
/5 урок/les_5_homework_разбор_task3.ipynb
*.zip
*.csv
